/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 0.1px dotted red; */
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/****** Header ***********/

header {
  display: flex;
  justify-content: space-between;
  height: 79px;
  margin-bottom: 30px;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: auto;
}

nav {
  display: flex;
  flex-direction: row;
  height: 35px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 68px;
}

nav ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

nav ul li a {
  font-size: 16px;
}

nav ul li:hover {
  color: var(--main-color);
  border-top: var(--main-color) 2px solid;
}

/***** Search Section ***/

.search {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.search-titre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 35px;
  gap: 8px;
}

.search-ville {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 35px;
}

.ville-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 50px;
  /* width: auto; */
}

.location-icon {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 50px;
  height: 100%;
  font-size: 18px;
}

.location-icon .fa-location-dot {
  color: #000000;
}

.ville-bar input {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 0;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  height: 100%;
  width: 25%;
}

.bouton-rechercher {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 0 15px 15px 0;
  font-size: 18px;
  padding: 14px 16px;
  height: 100%;
}

.bouton-rechercher i {
  color: #ffffff;
  display: none;
}

.bouton-texte {
  font-weight: bold;
}

.filtres-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 50px;
  gap: 15px;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  padding: 14px 19px;
  height: 100%;
}

.filter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.filter-button input {
  appearance: none;
}

.economie:hover,
.familial:hover,
.romantique:hover,
.pepites:hover {
  background-color: #deebff;
}

.search-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.search-info .circle-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.search-info p {
  font-size: 16px;
}

.search-info .circle-icon i {
  font-size: 12px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-no-border {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 15px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
  width: 65%;
  padding: 30px;
}
.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.hebergements-cards ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hebergements-cards {
  margin-bottom: 30px;
  margin-top: 30px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.hebergements-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/

.populaires {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 32%;
  padding: 30px;
}

.populaires-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
}

.populaires-cards .card {
  display: flex;
  flex-direction: row;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/

.section-activites {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 35px 0 35px 0;
  padding: 30px;
  gap: 30px;
}

.section-title {
  text-align: left;
}

.activites-cards {
  display: flex;
  justify-content: space-between;
}

.card-activites {
  width: calc(25% - 30px);
  margin-right: 30px;
}

.card-activites:last-child {
  margin-right: 0;
}

.card-activites img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.card-content {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 20px;
}

.card-activites:last-child {
  margin-right: 0; /* Remove the margin from the last card */
}

/****** Footer ***********/

footer {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.footer-a-propos,
.footer-nos-hebergements,
.footer-assistance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.footer-title {
  padding-bottom: 15px;
}

.footer-list {
  text-align: left;
  list-style: none;
}

.footer-list li {
  padding-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .bouton-rechercher .bouton-texte {
    display: none;
  }

  .bouton-rechercher i {
    display: flex;
    color: #ffffff;
  }
}
